/.vs
/Modified Shop Translate/bin
/Modified Shop Translate/obj/Modified Shop Translate.vbproj.nuget.dgspec.json
/Modified Shop Translate/obj/Modified Shop Translate.vbproj.nuget.g.props
/Modified Shop Translate/obj/project.assets.json
/Modified Shop Translate/obj/project.nuget.cache
/Modified Shop Translate/obj/Debug
